@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #e6e6e6;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Black Han Sans', sans-serif;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 280%;
}

/* nav styles */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    text-transform: uppercase;
    float: right;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}

/* main image */

#gearagh-image {
    height: 600px;
    width: 100%;
    background: url('../images/gearagh-2.jpg')no-repeat center center;
    overflow: hidden;
    margin-bottom: 10px;
}

/* article and style */

#examiner-image {
    height: 900px;
    width: 100%;
    background: url('../images/cork-examiner.jpg')no-repeat;
    float: left;
    margin-left: 5px;
}

/* text for article */

#article {
    width: 70%;
    float: right;
    margin-right: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #e6e6e6;
    color: #333333;
}

.article {
    background-color: #e6e6e6;
    color: #333333;
    font-size: 26px;
}

p {
    font-size: 15px;
    text-indent: 30px;
}

span {
    font-weight: 600;
}

h5 {
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

h6 {
    font-family: 'Black Han Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #3a3a3a;
}

/* history */

.gearagh {
    text-align: center;
    margin: 10px;
}

#history {
    text-align: left;
    margin-left: 20px;
    list-style-type: disc;
    color: #3a3a3a;
}

/* wildlife and conservation style */

h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

.wildlife {
    text-align: center;
    margin-bottom: 20px;
}

#wild {
    display: inline-block;
}

/*flex*/

.wild-1,
.wild-2 {
    display: flex;
    flex-wrap: wrap wrap-reverse;
}

/* footer */

hr {
    border: 1px solid #333333;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;

}

ul.social {
    background-color: #333333;
}

.social {
    text-align: center;
}

.social>li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #e6e6e6;
}

/* media Query */

/* for larger to medium screen sizes  1400 wide and below*/
@media screen and (max-width: 1400px) {
    #examiner-image {
        visibility: hidden;
    }

    #article {
        width: 95%;
        height: 900px;
        margin-right: 2.5%;
        margin-left: 2.5%;
        text-align: center;
        float: none;
        display: block;
        visibility: visible;
    }
}

/* medium and small screen sizes */
@media screen and (max-width: 700px) {
    #logo {
        text-align: center;
        text-decoration: none;
    }

    .wild-1,
    .wild-2 {
        display: block;
    }

    div.wild-1>p,
    div.wild-2>p {
        text-indent: 0;
        text-align: left;
        width: 300px;
    }

    footer {
        width: 100%;
    }